// Heading Color
$heading: #303030;

// Text Color
$text: #707070;

// Gray Background
$bg-gray: #f2f4f5;

// Primary Color
$primary: #1a1b1c;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000;

// Border Color
$border: #7450fe;

// Hover Color
$hover: #4834d4;

// Footer Color
$footer: #191c1d;

// Secondary Color
$secondary: #222222;
