/* 3.3 Blog CSS */

.single-blog-area {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;

  .post-meta {
    p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      text-transform: uppercase;

      a {
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 30px;
        @media #{$breakpoint-lg} {
          margin-right: 15px;
        }
        @media #{$breakpoint-xs} {
          margin-right: 15px;
        }
      }
    }
  }

  .post-title {
    margin-bottom: 20px;
    display: block;
    @media #{$breakpoint-xs} {
      font-size: 18px;
    }

    h4 {
      @media #{$breakpoint-lg} {
        font-size: 20px;
      }
      @media #{$breakpoint-xs} {
        font-size: 18px;
      }
    }
  }

  .blog_thumbnail img {
    width: 100%;
  }

  blockquote {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 3px;
    margin: 30px 0;
    display: block;

    span {
      margin-bottom: 0;
      color: $white;
      font-size: 12px;
      text-transform: uppercase;
    }

    h5 {
      @media #{$breakpoint-xs} {
        font-size: 16px;
      }
    }
  }
}

.post-a-comment-area {
  @media #{$breakpoint-xs} {
    margin-bottom: 100px;
  }
}

.comment_area {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;

  .title {
    margin-bottom: 50px;
  }

  .comment-content {
    .comment-author {
      @include flex(0 0 79px);
      width: 79px;
      max-width: 79px;
      margin-right: 55px;
      border-radius: 50%;
      @media #{$breakpoint-xs} {
        margin-right: 20px;
      }

      img {
        border-radius: 50%;
      }
    }

    .comment-meta {
      margin-bottom: 30px;

      .post-date {
        color: $white;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 0;
        display: block;
      }

      .post-author {
        margin-bottom: 15px;
        display: block;
        color: $white;
      }

      p {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 2;
      }

      .comment-reply {
        font-size: 11px;
        color: $white;
        text-transform: uppercase;
      }
    }
  }

  .children {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 0;

    .single_comment_area {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
