/* 3.7 Bubbles CSS */
.bubbles-animation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  background: rgba(72, 52, 212, 0.9);
  background: -webkit-linear-gradient(to right, rgba(72, 52, 212, 0.9), rgba(52, 31, 151, 0.9));
  background: -webkit-linear-gradient(left, rgba(72, 52, 212, 0.9), rgba(52, 31, 151, 0.9));
  background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
  overflow: hidden;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.bubble-1 {
  opacity: 0.74;
  left: 70vw;
  top: 96vh;
  animation: move-1 30.02s infinite;
  -moz-transform: translate(0, 0) scale(0.2);
  -ms-transform: translate(0, 0) scale(0.2);
  -webkit-transform: translate(0, 0) scale(0.2);
  transform: translate(0, 0) scale(0.2);
}

.bubble-2 {
  opacity: 0.16;
  left: 67vw;
  top: 42vh;
  animation: move-2 30.04s infinite;
  -moz-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}

.bubble-3 {
  opacity: 0.56;
  left: 26vw;
  top: 96vh;
  animation: move-3 30.06s infinite;
  -moz-transform: translate(0, 0) scale(0.44);
  -ms-transform: translate(0, 0) scale(0.44);
  -webkit-transform: translate(0, 0) scale(0.44);
  transform: translate(0, 0) scale(0.44);
}

.bubble-4 {
  opacity: 0.87;
  left: 75vw;
  top: 30vh;
  animation: move-4 30.08s infinite;
  -moz-transform: translate(0, 0) scale(0.55);
  -ms-transform: translate(0, 0) scale(0.55);
  -webkit-transform: translate(0, 0) scale(0.55);
  transform: translate(0, 0) scale(0.55);
}

.bubble-5 {
  opacity: 0.88;
  left: 38vw;
  top: 28vh;
  animation: move-5 30.1s infinite;
  -moz-transform: translate(0, 0) scale(1.11);
  -ms-transform: translate(0, 0) scale(1.11);
  -webkit-transform: translate(0, 0) scale(1.11);
  transform: translate(0, 0) scale(1.11);
}

.bubble-6 {
  opacity: 0.23;
  left: 53vw;
  top: 99vh;
  animation: move-6 30.12s infinite;
  -moz-transform: translate(0, 0) scale(0.83);
  -ms-transform: translate(0, 0) scale(0.83);
  -webkit-transform: translate(0, 0) scale(0.83);
  transform: translate(0, 0) scale(0.83);
}

.bubble-7 {
  opacity: 0.07;
  left: 15vw;
  top: 4vh;
  animation: move-7 30.14s infinite;
  -moz-transform: translate(0, 0) scale(0.35);
  -ms-transform: translate(0, 0) scale(0.35);
  -webkit-transform: translate(0, 0) scale(0.35);
  transform: translate(0, 0) scale(0.35);
}

.bubble-8 {
  opacity: 0.36;
  left: 85vw;
  top: 30vh;
  animation: move-8 30.16s infinite;
  -moz-transform: translate(0, 0) scale(0.3);
  -ms-transform: translate(0, 0) scale(0.3);
  -webkit-transform: translate(0, 0) scale(0.3);
  transform: translate(0, 0) scale(0.3);
}

.bubble-9 {
  opacity: 0.76;
  left: 6vw;
  top: 25vh;
  animation: move-9 30.18s infinite;
  -moz-transform: translate(0, 0) scale(0.38);
  -ms-transform: translate(0, 0) scale(0.38);
  -webkit-transform: translate(0, 0) scale(0.38);
  transform: translate(0, 0) scale(0.38);
}

.bubble-10 {
  opacity: 0.99;
  left: 42vw;
  top: 97vh;
  animation: move-10 30.2s infinite;
  -moz-transform: translate(0, 0) scale(0.43);
  -ms-transform: translate(0, 0) scale(0.43);
  -webkit-transform: translate(0, 0) scale(0.43);
  transform: translate(0, 0) scale(0.43);
}

.bubble-11 {
  opacity: 0.98;
  left: 63vw;
  top: 14vh;
  animation: move-11 30.22s infinite;
  -moz-transform: translate(0, 0) scale(0.38);
  -ms-transform: translate(0, 0) scale(0.38);
  -webkit-transform: translate(0, 0) scale(0.38);
  transform: translate(0, 0) scale(0.38);
}

.bubble-12 {
  opacity: 0.35;
  left: 2vw;
  top: 69vh;
  animation: move-12 30.24s infinite;
  -moz-transform: translate(0, 0) scale(0.08);
  -ms-transform: translate(0, 0) scale(0.08);
  -webkit-transform: translate(0, 0) scale(0.08);
  transform: translate(0, 0) scale(0.08);
}

.bubble-13 {
  opacity: 0.7;
  left: 42vw;
  top: 66vh;
  animation: move-13 30.26s infinite;
  -moz-transform: translate(0, 0) scale(0.67);
  -ms-transform: translate(0, 0) scale(0.67);
  -webkit-transform: translate(0, 0) scale(0.67);
  transform: translate(0, 0) scale(0.67);
}

.bubble-14 {
  opacity: 0.31;
  left: 89vw;
  top: 48vh;
  animation: move-14 30.28s infinite;
  -moz-transform: translate(0, 0) scale(0.1);
  -ms-transform: translate(0, 0) scale(0.1);
  -webkit-transform: translate(0, 0) scale(0.1);
  transform: translate(0, 0) scale(0.1);
}

.bubble-15 {
  opacity: 0.3;
  left: 81vw;
  top: 75vh;
  animation: move-15 30.3s infinite;
  -moz-transform: translate(0, 0) scale(0.98);
  -ms-transform: translate(0, 0) scale(0.98);
  -webkit-transform: translate(0, 0) scale(0.98);
  transform: translate(0, 0) scale(0.98);
}

.bubble-16 {
  opacity: 0.23;
  left: 80vw;
  top: 27vh;
  animation: move-16 30.32s infinite;
  -moz-transform: translate(0, 0) scale(2);
  -ms-transform: translate(0, 0) scale(2);
  -webkit-transform: translate(0, 0) scale(2);
  transform: translate(0, 0) scale(2);
}

.bubble-17 {
  opacity: 0.72;
  left: 76vw;
  top: 90vh;
  animation: move-17 30.34s infinite;
  -moz-transform: translate(0, 0) scale(1.53);
  -ms-transform: translate(0, 0) scale(1.53);
  -webkit-transform: translate(0, 0) scale(1.53);
  transform: translate(0, 0) scale(1.53);
}

.bubble-18 {
  opacity: 0.87;
  left: 69vw;
  top: 39vh;
  animation: move-18 30.36s infinite;
  -moz-transform: translate(0, 0) scale(0.15);
  -ms-transform: translate(0, 0) scale(0.15);
  -webkit-transform: translate(0, 0) scale(0.15);
  transform: translate(0, 0) scale(0.15);
}

.bubble-19 {
  opacity: 0.98;
  left: 33vw;
  top: 61vh;
  animation: move-19 30.38s infinite;
  -moz-transform: translate(0, 0) scale(0.66);
  -ms-transform: translate(0, 0) scale(0.66);
  -webkit-transform: translate(0, 0) scale(0.66);
  transform: translate(0, 0) scale(0.66);
}

.bubble-20 {
  opacity: 0.01;
  left: 75vw;
  top: 35vh;
  animation: move-20 30.4s infinite;
  -moz-transform: translate(0, 0) scale(0.62);
  -ms-transform: translate(0, 0) scale(0.62);
  -webkit-transform: translate(0, 0) scale(0.62);
  transform: translate(0, 0) scale(0.62);
}

.bubble-21 {
  opacity: 0.13;
  left: 65vw;
  top: 74vh;
  animation: move-21 30.42s infinite;
  -moz-transform: translate(0, 0) scale(1.41);
  -ms-transform: translate(0, 0) scale(1.41);
  -webkit-transform: translate(0, 0) scale(1.41);
  transform: translate(0, 0) scale(1.41);
}

.bubble-22 {
  opacity: 0.3;
  left: 67vw;
  top: 96vh;
  animation: move-22 30.44s infinite;
  -moz-transform: translate(0, 0) scale(0.65);
  -ms-transform: translate(0, 0) scale(0.65);
  -webkit-transform: translate(0, 0) scale(0.65);
  transform: translate(0, 0) scale(0.65);
}

.bubble-23 {
  opacity: 0.62;
  left: 67vw;
  top: 61vh;
  animation: move-23 30.46s infinite;
  -moz-transform: translate(0, 0) scale(1.71);
  -ms-transform: translate(0, 0) scale(1.71);
  -webkit-transform: translate(0, 0) scale(1.71);
  transform: translate(0, 0) scale(1.71);
}

.bubble-24 {
  opacity: 0.13;
  left: 14vw;
  top: 42vh;
  animation: move-24 30.48s infinite;
  -moz-transform: translate(0, 0) scale(1.05);
  -ms-transform: translate(0, 0) scale(1.05);
  -webkit-transform: translate(0, 0) scale(1.05);
  transform: translate(0, 0) scale(1.05);
}

.bubble-25 {
  opacity: 0.55;
  left: 13vw;
  top: 63vh;
  animation: move-25 30.5s infinite;
  -moz-transform: translate(0, 0) scale(0.85);
  -ms-transform: translate(0, 0) scale(0.85);
  -webkit-transform: translate(0, 0) scale(0.85);
  transform: translate(0, 0) scale(0.85);
}

.bubble-26 {
  opacity: 1;
  left: 8vw;
  top: 10vh;
  animation: move-26 30.52s infinite;
  -moz-transform: translate(0, 0) scale(1.46);
  -ms-transform: translate(0, 0) scale(1.46);
  -webkit-transform: translate(0, 0) scale(1.46);
  transform: translate(0, 0) scale(1.46);
}

.bubble-27 {
  opacity: 0.45;
  left: 55vw;
  top: 7vh;
  animation: move-27 30.54s infinite;
  -moz-transform: translate(0, 0) scale(0.63);
  -ms-transform: translate(0, 0) scale(0.63);
  -webkit-transform: translate(0, 0) scale(0.63);
  transform: translate(0, 0) scale(0.63);
}

.bubble-28 {
  opacity: 0.6;
  left: 7vw;
  top: 82vh;
  animation: move-28 30.56s infinite;
  -moz-transform: translate(0, 0) scale(1.17);
  -ms-transform: translate(0, 0) scale(1.17);
  -webkit-transform: translate(0, 0) scale(1.17);
  transform: translate(0, 0) scale(1.17);
}

.bubble-29 {
  opacity: 0.05;
  left: 58vw;
  top: 93vh;
  animation: move-29 30.58s infinite;
  -moz-transform: translate(0, 0) scale(1.26);
  -ms-transform: translate(0, 0) scale(1.26);
  -webkit-transform: translate(0, 0) scale(1.26);
  transform: translate(0, 0) scale(1.26);
}

.bubble-30 {
  opacity: 0.38;
  left: 93vw;
  top: 31vh;
  animation: move-30 30.6s infinite;
  -moz-transform: translate(0, 0) scale(0.2);
  -ms-transform: translate(0, 0) scale(0.2);
  -webkit-transform: translate(0, 0) scale(0.2);
  transform: translate(0, 0) scale(0.2);
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 111;
}

.credits a {
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 0.05em;
}
@keyframes move-1 {
  52% {
    -moz-transform: translate(-96vw, -76vh);
    -webkit-transform: translate(-96vw, -76vh);
    transform: translate(-96vw, -76vh);
  }
}
@keyframes move-2 {
  43% {
    -moz-transform: translate(-40vw, -70vh);
    -webkit-transform: translate(-40vw, -70vh);
    transform: translate(-40vw, -70vh);
  }
}
@keyframes move-3 {
  49% {
    -moz-transform: translate(-49vw, -92vh);
    -webkit-transform: translate(-49vw, -92vh);
    transform: translate(-49vw, -92vh);
  }
}
@keyframes move-4 {
  41% {
    -moz-transform: translate(-88vw, -65vh);
    -webkit-transform: translate(-88vw, -65vh);
    transform: translate(-88vw, -65vh);
  }
}
@keyframes move-5 {
  54% {
    -moz-transform: translate(-98vw, -11vh);
    -webkit-transform: translate(-98vw, -11vh);
    transform: translate(-98vw, -11vh);
  }
}
@keyframes move-6 {
  44% {
    -moz-transform: translate(0vw, -16vh);
    -webkit-transform: translate(0vw, -16vh);
    transform: translate(0vw, -16vh);
  }
}
@keyframes move-7 {
  32% {
    -moz-transform: translate(-71vw, -47vh);
    -webkit-transform: translate(-71vw, -47vh);
    transform: translate(-71vw, -47vh);
  }
}
@keyframes move-8 {
  46% {
    -moz-transform: translate(-69vw, -77vh);
    -webkit-transform: translate(-69vw, -77vh);
    transform: translate(-69vw, -77vh);
  }
}
@keyframes move-9 {
  52% {
    -moz-transform: translate(-78vw, -7vh);
    -webkit-transform: translate(-78vw, -7vh);
    transform: translate(-78vw, -7vh);
  }
}
@keyframes move-10 {
  41% {
    -moz-transform: translate(-7vw, -69vh);
    -webkit-transform: translate(-7vw, -69vh);
    transform: translate(-7vw, -69vh);
  }
}
@keyframes move-11 {
  35% {
    -moz-transform: translate(-12vw, -2vh);
    -webkit-transform: translate(-12vw, -2vh);
    transform: translate(-12vw, -2vh);
  }
}
@keyframes move-12 {
  54% {
    -moz-transform: translate(-38vw, -46vh);
    -webkit-transform: translate(-38vw, -46vh);
    transform: translate(-38vw, -46vh);
  }
}
@keyframes move-13 {
  36% {
    -moz-transform: translate(-97vw, -58vh);
    -webkit-transform: translate(-97vw, -58vh);
    transform: translate(-97vw, -58vh);
  }
}
@keyframes move-14 {
  40% {
    -moz-transform: translate(-41vw, -58vh);
    -webkit-transform: translate(-41vw, -58vh);
    transform: translate(-41vw, -58vh);
  }
}
@keyframes move-15 {
  46% {
    -moz-transform: translate(-72vw, -9vh);
    -webkit-transform: translate(-72vw, -9vh);
    transform: translate(-72vw, -9vh);
  }
}
@keyframes move-16 {
  35% {
    -moz-transform: translate(-1vw, -90vh);
    -webkit-transform: translate(-1vw, -90vh);
    transform: translate(-1vw, -90vh);
  }
}
@keyframes move-17 {
  35% {
    -moz-transform: translate(-76vw, -18vh);
    -webkit-transform: translate(-76vw, -18vh);
    transform: translate(-76vw, -18vh);
  }
}
@keyframes move-18 {
  50% {
    -moz-transform: translate(-76vw, -80vh);
    -webkit-transform: translate(-76vw, -80vh);
    transform: translate(-76vw, -80vh);
  }
}
@keyframes move-19 {
  47% {
    -moz-transform: translate(-11vw, -51vh);
    -webkit-transform: translate(-11vw, -51vh);
    transform: translate(-11vw, -51vh);
  }
}
@keyframes move-20 {
  38% {
    -moz-transform: translate(-87vw, -8vh);
    -webkit-transform: translate(-87vw, -8vh);
    transform: translate(-87vw, -8vh);
  }
}
@keyframes move-21 {
  45% {
    -moz-transform: translate(-62vw, -18vh);
    -webkit-transform: translate(-62vw, -18vh);
    transform: translate(-62vw, -18vh);
  }
}
@keyframes move-22 {
  58% {
    -moz-transform: translate(-81vw, -28vh);
    -webkit-transform: translate(-81vw, -28vh);
    transform: translate(-81vw, -28vh);
  }
}
@keyframes move-23 {
  57% {
    -moz-transform: translate(-50vw, -67vh);
    -webkit-transform: translate(-50vw, -67vh);
    transform: translate(-50vw, -67vh);
  }
}
@keyframes move-24 {
  35% {
    -moz-transform: translate(-54vw, -9vh);
    -webkit-transform: translate(-54vw, -9vh);
    transform: translate(-54vw, -9vh);
  }
}
@keyframes move-25 {
  34% {
    -moz-transform: translate(-97vw, -12vh);
    -webkit-transform: translate(-97vw, -12vh);
    transform: translate(-97vw, -12vh);
  }
}
@keyframes move-26 {
  39% {
    -moz-transform: translate(-14vw, -73vh);
    -webkit-transform: translate(-14vw, -73vh);
    transform: translate(-14vw, -73vh);
  }
}
@keyframes move-27 {
  35% {
    -moz-transform: translate(-56vw, -33vh);
    -webkit-transform: translate(-56vw, -33vh);
    transform: translate(-56vw, -33vh);
  }
}
@keyframes move-28 {
  51% {
    -moz-transform: translate(-9vw, -49vh);
    -webkit-transform: translate(-9vw, -49vh);
    transform: translate(-9vw, -49vh);
  }
}
@keyframes move-29 {
  47% {
    -moz-transform: translate(-95vw, -27vh);
    -webkit-transform: translate(-95vw, -27vh);
    transform: translate(-95vw, -27vh);
  }
}
@keyframes move-30 {
  51% {
    -moz-transform: translate(-76vw, -63vh);
    -webkit-transform: translate(-76vw, -63vh);
    transform: translate(-76vw, -63vh);
  }
}
