/* 1.3 Heading CSS */

.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 80px;

  h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 15px;
    @media #{$breakpoint-xs} {
      font-size: 24px;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 2;
    font-size: 16px;
    max-width: 600px;
    @media #{$breakpoint-xs} {
      font-size: 14px;
    }
  }

  &.text-center {
    p {
      margin: 0 auto;
    }
  }
}
