/* 5.0 Light Version Area CSS */

.light-version {
    background: $white !important;
}

.light-version p {
    color: #888;
}

.light-version .copywrite_text > p > a,
.light-version .group label,
.light-version .growing-company p .counter,
.light-version .portfolio-menu button,
.light-version .post-meta p a,
.light-version .service_single_content .service_icon i,
.light-version h1,
.light-version h2,
.light-version h3,
.light-version h4,
.light-version h5,
.light-version h6,
.light-version input:focus ~ label,
.light-version input:valid ~ label,
.light-version textarea:focus ~ label,
.light-version textarea:valid ~ label {
    color: $secondary;
}

.light-version .reen-faq-area dt {
    color: $secondary;
    border-bottom: 1px solid $bg-gray;
}

.light-version .reen-faq-area dt:first-child {
    border-top: 1px solid $bg-gray;
}

.light-version .timelineBox {
    background: $bg-gray;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.light-version .cool_fact_detail h2,
.light-version .cool_fact_detail h3,
.light-version .cta-content h2,
.light-version .cta-content p,
.light-version .single-mission h6,
.light-version .single-mission p,
.light-version .welcome-content h2,
.light-version .welcome-content p {
    color: $white;
}

.light-version .portfolio-menu button.active {
    color: $secondary;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.light-version .single-team-member:after {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $bg-gray;
    content: "";
    z-index: -5;
}

.light-version #scrollUp,
.light-version .footer-social-info a i {
    color: $dark;
}

.light-version #scrollUp:before {
    position: absolute;
    width: 30%;
    height: 2px;
    background-color: $dark;
    content: "";
    top: 10px;
    right: 100%;
    z-index: -200 !important;
}

.light-version .group input,
.light-version .group textarea {
    color: $secondary !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.light-version .group input:focus ~ .bar:after,
.light-version .group input:focus ~ .bar:before,
.light-version .group textarea:focus ~ .bar:after,
.light-version .group textarea:focus ~ .bar:before {
    background-color: $secondary;
}

.light-version .client_slides .owl-dot {
    color: $secondary;
    background-color: transparent;
}

.light-version .client_slides .owl-dot.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.light-version {
    .label-number {
        fill: $heading;
    }

    .label-text {
        fill: $text;
    }
}
